

//color palette

//GLOBAL

$p_text: #323232;
$textLabelstyle: #AFAFAF;
$textFieldBorder: #E1E1E1;
$TextFieldBgFill: #FAFAFA;

//Instock Colors:

$navBgFill: #323232;
$primaryCTA_TextLink: #004892;
$primaryCTAhover: #002F5F;

//BrainFlix 

$primaryCTA_TextLink_B: #0095FF;
$primaryCTAhover_B: #0065AD;

// Bandsite

$primaryCTA: #323232;
$primaryCTAhover_C: #0065AD;


// Additional Palatte

$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instockBlue: #004892;
$instockDarkBlue: #002F5F;
$brainflixBlue: #0095FF;
$brainflixDarkBlue: #0065AD;
$allWhite: #FFFFFF;
