@import "../../partials/colors.scss";
@import "../../partials/partials.scss";

a {
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 169px;
  border-bottom: 2px solid $textFieldBorder;
  padding-bottom: 1rem;

  @include for-tablet {
    @include displaytool(space-around, center, row);
    height: 80px;
    margin: 0px 0px;
    padding: 0px 24px;
    border-bottom: 0px solid $textFieldBorder;
  }

  @include for-desktop {
    margin: 0px 0px;
    overflow: hidden;
  }

  &__logo {
    @include displaytool(center, center, row);
    width: 100%;
    height: 38px;
    padding: 10px 0px;

    @include for-tablet {
      @include displaytool(flex-start, center, row);
      padding: 0;
      position: relative;
      left: 1rem;
    }
    @include for-desktop {
      padding: 0;
      position: relative;
      left: 10rem;
    }
  }
}

.header__rightside {
  @include for-tablet {
    width: 40%;
  }
}

.header__leftside {
  @include for-tablet {
    @include displaytool(space-between, center, row);
    width: 70%;
  }
  @include for-desktop {
    width: 90%;
  }
}

#logo {
  width: auto;
  height: 29px;
  @include for-tablet {
    height: 26px;
  }
  @include for-desktop {
  }
}

// search bar lives here

.header__searchbar {
  @include displaytool(flex-start, center, row);
  width: 100%;
  overflow: hidden;

  @include for-tablet {
    width: 100%;
  }

  @include for-desktop {
    position: absolute;
    overflow: visible;
    width: 20%;
    left: 46rem;
  }
}

#searchIcon {
  background-image: url(../../assets/Icons/Icon-search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 9;
  left: 6vw;
  @include for-tablet {
    position: relative;
    left: 2.5rem;
    width: 22px;
    height: 22px;
  }
  @include for-desktop {
    position: relative;
    left: 2vw;
    width: 20px;
    height: 20px;
  }
}

#searchBar {
  background-color: whitesmoke;
  width: 100%;
  height: 42px;
  border: 2px solid $textFieldBorder;
  font-size: 0.9rem;
  padding-left: 9vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: $p_text;
  z-index: 0;
  border-radius: 4px;
  @include for-tablet {
    margin-left: 0px;
    margin-right: 0rem;
    padding-left: 3rem;
    width: 80%;
    height: 48px;
  }
  @include for-desktop {
    position: relative;
    left: 0vw;
    width: 80%;
    padding-left: 2rem;
  }
}

#searchBar:focus {
  outline: none;
}

// upload button lives here

.upload__button {
  box-sizing: content-box;
  width: 8rem;
  margin-right: 1rem;
  @include for-tablet {
    @include displaytool(center, center, row);
    width: 7rem;
  }
  @include for-desktop {
    position: relative;
    left: 36rem;
    width: 100%;
  }
}

#upload__btn {
  width: 225px;
  height: 48px;
  margin-top: 8px;
  margin-left: 16px;
  background-color: $primaryCTA_TextLink_B;
  border: 0px;
  border-radius: 4px;
  padding-left: 27px;
  font-weight: normal;
  color: $allWhite;
  font-size: 1em;
  z-index: 0;
  font-style: bold;
  @include for-tablet {
    padding: 0px;
    padding-left: 1rem;
    padding-top: 0.1rem;
    margin: 0px;
    width: 6rem;
    font-size: 0.8rem;
  }
  @include for-desktop {
  }
}

#uploadBtnIcon {
  background-image: url(../../assets/Icons/Icon-upload.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 9;
  left: 5rem;
  top: 126px;
  @include for-tablet {
    position: relative;
    top: 0px;
    left: 1.5rem;
  }
}

#upload__btn:focus {
  outline: none;
}

#upload__btn:hover {
  background-color: $primaryCTAhover;
}

// user image lives here

.header__user {
  @include for-desktop {
    position: relative;
    right: 10rem;
  }
}

.header__user--img {
  background-image: url(../../assets/images/Mohan-muruge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  position: absolute;
  left: 257px;
  top: 7rem;
  @include for-tablet {
    margin-left: 0;
    position: static;
    width: 60px;
    height: 60px;
  }
  @include for-tablet {
    left: 83vw;
  }
}
